/* Add this line to apply the font to the entire body */
body {
    font-family: 'Roboto', Arial, sans-serif;
}

/* Your existing CSS rules */
body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

header {
    background-color: #333;
    color: purple;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header .highlight {
    color: #ffd700;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: grey;
    padding: 0.5rem;
}

nav ul li {
    margin: 0 0px;
}

nav ul li a {
    color: blue;
    text-decoration: none;
    padding: 0px 0px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ffd700;
    color: #333;
}

main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5px;
    max-width: 1200px;
    margin: 2px auto;
    padding: 2px;
}

.card {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 20%;
    border-radius: 5px;
}

aside.card {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside.card ul {
    list-style: none;
    padding: 0;
}

aside.card ul li {
    margin: 10px 0;
}

aside.card ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s;
}

aside.card ul li a:hover {
    background-color: #ffd700;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
